/* universal selector */

* {
    /* color: red; */
    font-size: 20px;
}


/* tag / element selector */

h1 {
    color: green;
}


/* attribute selector */

a[title="google"] {
    color: blue;
    letter-spacing: 10px;
}


/* id selector */

#idOne {
    color: brown;
}


/* class selector */

.classOne {
    color: brown;
    line-height: 30px;
    text-indent: 40px;
    text-transform: capitalize;
    word-spacing: 10px;
}


/* descendent selector */

.desc a {
    color: red;
    text-decoration: none;
}

.child>a {
    color: green;
}


/* pseudo selector */


/* link */

a:link {
    color: red;
}

a:hover {
    color: green;
}

a:active {
    color: yellow;
}

a:visited {
    color: brown;
}


/* target */

:target {
    color: red;
    border: 2px solid black;
}