#mybody {
    background-color: aqua;
}

.heading {
    text-align: center;
    color: red;
}

#myForm {
    width: 40%;
    margin: auto;
}

input [type="text"] {
    width: 100%;
    height: 40px;
}